<%= simple_form_for(@post) do |f| %>
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <div class="form-container">
      <%= f.input :title,
                  required: true,
                  placeholder: "Title",
                  label: false,
                  input_html: { class: 'no-border-form primary-txt'}  %>
      <hr>
      <%= f.input :content,
                  required: true,
                  placeholder: "Write your story here...",
                  label: false,
                  input_html: { class: 'no-border-form content-input'}%>
      <div class="form-actions">
        <%= f.input :date,
                      value: f.object.try(:strftime, "%m/%d/%y"),
                      label: false,
                      input_html: { class: 'date-input'}  %>
        <%= f.input :published,
                    label: " Published", class: 'check-field' %>
      </div>
      <%= f.button :submit, "Post", class: 'form-btn' %>

    </div>
  </div>
<% end %>
