<div class="container">

  <% if @posts.empty? %>
    <div class="page-center primary-txt-grey">
      <p>There are no blogs related to your search.</p>
      <p>Be the first one to write it?</p>

      <div class="btn-container">
        <%= link_to new_post_path, class: "my-btn" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
    </div>

  <% end %>
  <div class="post-cards-container col-sm-12 col-md-9">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do%>
        <div class="col-sm-12 col-md-6">
          <div class="post-card">
            <div class="post-title">
              <%# title = post.title.size > 25 ? post.title.first(20) + "..." : post.title%>
              <%= post.brief(post.title, 25) %>
            </div>
            <div class="post-info">
              <h class="post-author">
                <%= post.user.first_name %>
              </h>
              <h class="text-grey">
                <%= post.date %> · <%= post.read_time %> · <%= post.view %> <%= "view".pluralize(post.view) %>
              </h>
            </div>

            <div class="post-content">
              <%= post.brief(post.content, 150) %>
            </div>

            <div class="mark">
               mark
            </div>


          </div>
        </div>
      <% end %>
    <% end %>
  </div>




</div>
