<div class="container">
  <div class="author-info">
    <div class="big-txt">
      <%= @user.full_name %>
    </div>
    <div class="text-grey">
      <%= @user.posts_number %> since <%= @user.join_time %>
    </div>
  </div>

  <% if @my_posts.empty? && @user == current_user %>
    <div class="page-left primary-txt-grey">
      <p>You don't have any blogs at this moment...</p>
      <p>Share your story. Write one now. </p>

      <div class="btn-container">
        <%= link_to new_post_path, class: "my-btn" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
    </div>

  <% end %>
  <div class="post-cards-container col-sm-12 col-md-9">
    <% @my_posts.each do |post| %>
      <%= link_to post_path(post) do%>
        <div class="col-sm-12 col-md-6">
          <div class="post-card">
            <div class="post-title">
              <%= post.title %>
            </div>
            <div class="post-info">
              <h class="post-author">
                <%= post.user.first_name %>
              </h>
              <h class="post-date">
                <%= post.date %>
              </h>
            </div>

            <div class="post-content">
              <%= post.content %>
            </div>
            <%#= link_to post_path(post) do %>
              <div class="mark">
                mark
              </div>
            <%# end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>




</div>
