<% owner = current_user == @user %>
<div class="container">
  <div class="author-info">
    <div class="big-txt">
      <%= @user.full_name %>
    </div>
    <div class="text-grey">
      Contributed <%= "#{@user.posts.count} #{'blog'.pluralize(@user.posts.count)}" %> since <%= @user.join_time %>
    </div>
  </div>

  <% if @my_posts.empty? && owner %>
    <div class="page-left primary-txt-grey">
      <p>You don't have any blogs at this moment...</p>
      <p>Share your story. Write one now. </p>

      <div class="btn-container">
        <%= link_to new_post_path, class: "my-btn" do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </div>
    </div>

  <% end %>
  <div class="post-cards-container col-sm-12 col-md-9">
    <% @my_posts.each do |post| %>
        <div class="col-sm-12 col-md-6">
          <div class="post-card">
            <div class="post-title">
              <%= post.brief(post.title, 25) %>
            </div>
              <div class="post-info">
              <h class="post-author">
                <%= post.user.first_name %>
              </h>
              <h class="text-grey">
                <%= post.date %> 路 <%= post.read_time %> 路 <%= post.view %> <%= "view".pluralize(post.view) %>
              </h>
            </div>
            <% if owner %>
              <div class="post-content">
                <%= post.brief(post.content, 130) %>
                <div class="card-link">
                <%= link_to 'read more', post_path(post) %> 路
                <%= link_to 'edit', edit_post_path(post) %> 路
                <%= link_to 'delete', post_path(post), data: { confirm: "Are you sure you want to delete it forever...?ズ" }, method: :delete%>
                </div>

              </div>
            <% else %>
              <div class="post-content">
                <%= post.brief(post.content, 130) %>
                <div class="card-link">
                  <%= link_to 'read more', post_path(post) %>
                </div>
                <div id="<%="#{post.id}-post" %>">
                <%= render "shared/mark_button", post: post %>
              </div>
              </div>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>


</div>
